@import "tailwindcss";

@theme {
  --bg-hero-image: url("/bgbody.jpg");
}

@media (prefers-color-scheme: dark) {
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: var(--bg-hero-image);
  background-size: cover;
  background-repeat: no-repeat;
}

.input-white {
  background-color: white !important;
}

.input-white::placeholder {
  color: black !important;
  font-weight: bold !important;
}
